name: "Terraform Plan"

on:
  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: "Terraform Plan"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: Get Token From GitHub APP
        id: get_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: "Setup Terraform"
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: "Terraform Init"
        run: terraform init

      - name: "Terraform Plan"
        run: terraform plan -out .planfile
        env:
          TF_VAR_github_token: ${{ steps.get_token.outputs.token }}

      - name: Post PR comment
        if: always()
        uses: borchero/terraform-plan-comment@v2
        with:
          token: ${{ steps.get_token.outputs.token }}
          planfile: .planfile
